In [3]:
puntos = {
    "Tipo": ("puntos", "bronce", "plata", "oro", "morado", "rojo", "amarillo"),
    "Puntos_Actuales": (0, 0, 0, 0, 0, 0, 0),
    "Puntos_Maximos" : (10000, 10000, 10000, 10000, 200, 200, 200)
}

In [4]:
import pandas as pd

df = pd.DataFrame(puntos).set_index("Tipo")
df.to_json("puntos.json")
df

          Puntos_Actuales  Puntos_Maximos
Tipo
puntos                  0           10000
bronce                  0           10000
plata                   0           10000
oro                     0           10000
morado                  0             200
rojo                    0             200
amarillo                0             200

In [5]:
df["Puntos_Restantes"] = df.Puntos_Maximos - df.Puntos_Actuales
df.to_json("puntos.json")
df

          Puntos_Actuales  Puntos_Maximos  Puntos_Restantes
Tipo
puntos                  0           10000             10000
bronce                  0           10000             10000
plata                   0           10000             10000
oro                     0           10000             10000
morado                  0             200               200
rojo                    0             200               200
amarillo                0             200               200